html {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}

@font-face {
    font-family: 'Roboto';
    src:
        url('../fonts/Roboto-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Roboto-Thin';
    src:
        url('../fonts/Roboto-Thin.ttf') format('ttf');
}
    
body {
    font-family: 'Roboto', Fallback, sans-serif;
}

body > main nav {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 20vw;
    height: 100svh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.33);
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #121213, #17191d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #121213, #17191d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

body > main nav button {
    width: 100%;
    height: 50px;
    border: none;
    background: #ddd;
    border-bottom: 1px solid #bbb;
    cursor: pointer;
    outline: none;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    transition: all 0.05s ease-in-out;
}

body > main nav button:last-of-type {
    bottom: 0;
    position: absolute;
}

body > main nav button:hover {
    background: #ccc;
    transition: all 0.25s ease-in-out;
}

body > main nav button.active {
    background: #bbb;
    border-bottom: 1px solid #aaa;
}




body > main section.content {
    opacity: 0;
    position: absolute;
    left: 20vw;
    top: 0;
    width: 70vw;
    padding: 30px;
    overflow-x: hidden;
}
body > main section.content.fade-in {
    opacity: 1;
    transition:all 0.125s ease-in-out;
}
body> main section.content.fade-out {
    opacity: 0;
    transition:all 0.125s ease-in-out;
}

#projects {
    grid-area: form;
    width: 99%;
    padding: 40px 10px;
    border-radius: 10px;
    height: 84svh;
    overflow-y: scroll;
}

.project-card {
    background: aliceblue;
    padding: 10px;
    border: 3px solid black;
    margin: 10px 0;
    border-radius: 5px;
    width: 50vw;
    position: relative;
    left: 2vw;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.33);
}

.card {
    width: 750px;
    border-radius: 2px;
    border: 3px solid #000;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.35);
    margin: 10px;
    padding: 5px;
    background-color: #5f7979;
    position: relative;
}
.card .details {
    visibilIty: hidden;
    height: 0;
}
.card .details-panel.visible {
    display: block;
}
.card .details-panel {
    background: #556d6d;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: 2px solid #4f6565;
    padding: 5px;
}
.card .details-panel hr {
    opacity: 0.15;
}
.card .details-button {
    transition: all 0.25s;
}
.card .details-button:hover {
    cursor: pointer;
    color: rgb(56, 96, 150);
}
.card .details-button:after {
    content: "\25BC";
    position: relative;
    right: -10px;
}
.card .details-button.hidden:after {
    content: "\25B2";
    position: relative;
    right: -15px;
}
.card .client {
    font-size: 1.25em;
}
.card .project {
    font-size: 1.75em;
}
.card .client,
.card .project {
    font-weight: 900;
}
.card .status {
    position: absolute;
    bottom: 30px;
    right: 10px;
}

.card button.button {
    right: 10px;
    bottom: 10px;
    position: absolute;
}

#cardList {
    margin-left: 75px;
}

body {
    /* overflow: hidden; */
    overflow-x: hidden;
}

body > main section.content {
    padding: 0;
    width: 100%;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    overflow: hidden;
}

body > main#currentProjects section.content {
    min-height: 100%;
    overflow-y: scroll;
}

.page-heading {
    width: 100%;
    height: 2em;
    font-size: 2.5em;
    line-height: 2em;
    background-color: rgb(37, 37, 37);
    font-family: 'Roboto', sans-serif;
    padding-left: 50px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    color: #adadad;
    -webkit-box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4),
    0 1px 1px rgba(255, 255, 255, 0.2);

    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4),
    0 1px 1px rgba(255, 255, 255, 0.2);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
        "form preview";
    overflow: hidden;
    transition: all 0.25s ease-in-out;
}

.grid-container-project-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.065fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
        "newProject"
        "key"
        "form";
    overflow: hidden;
    transition: all 0.25s ease-in-out;
    width: 70%;
    position: absolute;
    left: 3em;
    top: 7em;
}

.grid-container:has(div.file-preview.has-elements) {
    grid-template-columns: 1fr 1.25fr;
    transition: all 0.25s ease-in-out;
}

.file-preview {
    grid-area: preview;
    height: 100svh;
    border: 1px solid rgb(173, 173, 173, 0.3);
    float: right;
    background-color: #414141;
    box-shadow: -5px 5px 10px rgba(0,0,0,0.5);
}

.invalid-error {
    border: 2px solid red;
    background: rgba(250,200,200,1);
}